# Challenge 1 : Cr√©ation et Exploration du DataFrame

In [42]:
import pandas as pd
import numpy as np

# D√©finir les colonnes et les donn√©es
columns = ["Nom", "√Çge", "Ville"]
data = [
    ["Amine", 28, "Casablanca"],
    ["Lina", 22, "Rabat"],
    ["Youssef", 35, "F√®s"],
    ["Salma", 30, "Casablanca"],
    ["Nora", np.nan, "Tanger"]
]

# Cr√©er un DataFrame avec 3 colonnes : Nom, √Çge, Ville
df = pd.DataFrame(data, columns=columns)

In [33]:
# Afficher les 3 premi√®res lignes avec head()
print("Les 3 premi√®res lignes:")
print(df.head(3))

Les 3 premi√®res lignes:
       Nom   √Çge       Ville
0    Amine  28.0  Casablanca
1     Lina  22.0       Rabat
2  Youssef  35.0         F√®s

###  Interpr√©tation des premi√®res lignes :
- **5 lignes au total** avec 3 colonnes : Nom, √Çge, Ville
- **Valeur manquante d√©tect√©e** : Nora a `NaN` pour l'√¢ge
- **Types de donn√©es** : Noms et villes en texte, √¢ges en nombres d√©cimaux
- **√âchantillon repr√©sentatif** de personnes de diff√©rentes villes marocaines

# Afficher la structure du DataFrame avec info()

In [34]:

print("\nStructure du DataFrame:")
df.info()

Structure du DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nom     5 non-null      object
 1   √Çge     4 non-null      float64
 2   Ville   5 non-null      object
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes

###  Interpr√©tation de la structure :
- **5 entr√©es** (lignes 0 √† 4) dans le DataFrame
- **3 colonnes** au total
- **Colonne √Çge** : seulement 4 valeurs non-nulles sur 5 (1 valeur manquante)
- **Types de donn√©es** :
  - `object` : pour les cha√Ænes de caract√®res (Nom, Ville)
  - `float64` : pour les nombres d√©cimaux (√Çge)
- **M√©moire utilis√©e** : 252+ bytes (tr√®s l√©ger)

 Afficher des statistiques descriptives avec describe()

In [35]:

print("\nStatistiques descriptives:")
print(df.describe())

Statistiques descriptives:
             √Çge
count   4.000000
mean   28.750000
std     5.377422
min    22.000000
25%    26.500000
50%    29.000000
75%    31.250000
max    35.000000

###  Interpr√©tation des statistiques :
- **√âchantillon** : 4 personnes avec √¢ge connu (Nora exclue)
- **√Çge moyen** : 28.75 ans
- **√Çge m√©dian** : 29 ans (50e percentile)
- **√âcart-type** : 5.38 ans (faible variabilit√©)
- **Distribution** :
  - Plus jeune : 22 ans (Lina)
  - Plus √¢g√© : 35 ans (Youssef)
  - √âcart interquartile : 26.5 - 31.25 ans

# challenge 2

In [37]:
# Afficher les valeurs uniques de la colonne "Ville"
print("La colonne Ville contient les valeurs uniques suivantes :")
print(df["Ville"].unique())

La colonne Ville contient les valeurs uniques suivantes :
['Casablanca' 'Rabat' 'F√®s' 'Tanger']

### üèôÔ∏è Interpr√©tation des villes uniques :
- **4 villes distinctes** dans notre dataset
- **R√©partition g√©ographique** : principales villes du Maroc
- **Pas de doublons** dans les noms de villes
- **Couverture nationale** : Nord (Tanger), Centre (Casablanca, Rabat), Sud-Est (F√®s)

In [43]:
#Afficher les valeurs age sup de 25 ans
print("Les personnes de plus de 25 ans:")
print(df[df["√Çge"] > 25])

Les personnes de plus de 25 ans:
       Nom   √Çge       Ville
0    Amine  28.0  Casablanca
2  Youssef  35.0         F√®s
3    Salma  30.0  Casablanca

###  Interpr√©tation du filtrage par √¢ge :
- **3 personnes** ont plus de 25 ans sur 5 total
- **Filtrage automatique** des valeurs NaN (Nora exclue)
- **Condition bool√©enne** `df["√Çge"] > 25` appliqu√©e efficacement
- **60% de l'√©chantillon** correspond au crit√®re d'√¢ge

In [45]:
#Afficher les nom et la ville des personnes de casa 
print("\nLes personnes de Casablanca:")
print(df[df["Ville"] == "Casablanca"][["Nom", "Ville"]])

Les personnes de Casablanca:
     Nom       Ville
0  Amine  Casablanca
3  Salma  Casablanca

###  Interpr√©tation du filtrage par ville :
- **2 r√©sidents** de Casablanca identifi√©s
- **S√©lection de colonnes** sp√©cifiques `[["Nom", "Ville"]]`
- **Filtrage et projection** combin√©s en une seule op√©ration
- **Casablanca** repr√©sente 40% de notre √©chantillon

# Challenge 3 : Ajout et modification de colonnes

In [47]:
#Ajouter une colonne "date de naissance" avec la valeur "Maroc" pour toutes les lignes
df["date de naissance"] = 2025 - df["√Çge"]
print(df)

       Nom   √Çge       Ville  date de naissance
0    Amine  28.0  Casablanca             1997.0
1     Lina  22.0       Rabat             2003.0
2  Youssef  35.0         F√®s             1990.0
3    Salma  30.0  Casablanca             1995.0
4     Nora   NaN      Tanger                NaN

###  Interpr√©tation de l'ajout de colonne :
- **Nouvelle colonne** "date de naissance" cr√©√©e automatiquement
- **Calcul vectoris√©** : 2025 - √Çge pour chaque ligne
- **Propagation des NaN** : Nora garde NaN car √¢ge inconnu
- **Op√©ration arithm√©tique** appliqu√©e √† toute la colonne d'un coup

In [ ]:
#Modifier les nom majuscule 
df["Nom"] = df["Nom"].str.upper()
print(df)

       Nom   √Çge       Ville  date de naissance
0    AMINE  28.0  Casablanca             1997.0
1     LINA  22.0       Rabat             2003.0
2  YOUSSEF  35.0         F√®s             1990.0
3    SALMA  30.0  Casablanca             1995.0
4     NORA   NaN      Tanger                NaN

###  Interpr√©tation de la transformation en majuscules :
- **M√©thode `.str.upper()`** appliqu√©e √† toute la colonne
- **Transformation in-place** en r√©assignant la colonne
- **Uniformisation** des noms pour la coh√©rence des donn√©es
- **Manipulation de cha√Ænes** vectoris√©e et efficace

In [48]:
# renome une colonne 
df.rename(columns={"Ville": "Localisation"}, inplace=True)
print("\nDataFrame apr√®s renommage de la colonne 'Ville' en 'Localisation':")
print(df)

DataFrame apr√®s renommage de la colonne 'Ville' en 'Localisation':
       Nom   √Çge Localisation  date de naissance
0    Amine  28.0   Casablanca             1997.0
1     Lina  22.0        Rabat             2003.0
2  Youssef  35.0          F√®s             1990.0
3    Salma  30.0   Casablanca             1995.0
4     Nora   NaN       Tanger                NaN

###  Interpr√©tation du renommage de colonne :
- **M√©thode `rename()`** avec dictionnaire de correspondance
- **Parameter `inplace=True`** modifie directement le DataFrame
- **Structure preserv√©e** : m√™me donn√©es, nouveau nom de colonne
- **Am√©lioration s√©mantique** : "Localisation" plus pr√©cis que "Ville"

# Challenge 4 : Gestion des valeurs manquantes

In [52]:
# remplacer lesvaleurs d age manquantes manuellemnt
print("\nDataFrame avant remplacement des valeurs manquantes:")
df.loc[2, "√Çge"] = np.nan
print(df)

DataFrame avant remplacement des valeurs manquantes:
       Nom   √Çge Localisation  date de naissance
0    Amine  28.0   Casablanca             1997.0
1     Lina  22.0        Rabat             2003.0
2  Youssef   NaN          F√®s             1990.0
3    Salma  30.0   Casablanca             1995.0
4     Nora   NaN       Tanger                NaN

###  Interpr√©tation de l'introduction de valeur manquante :
- **M√©thode `.loc[ligne, colonne]`** pour acc√®s pr√©cis √† une cellule
- **Valeur `np.nan`** assign√©e manuellement √† Youssef (ligne 2)
- **2 valeurs manquantes** maintenant : Nora et Youssef
- **Simulation r√©aliste** d'un probl√®me de donn√©es manquantes

In [50]:
#Affiche les lignes contenant des valeurs manquantes avec isnull().
print("\nLignes contenant des valeurs manquantes:")
print(df[df.isnull().any(axis=1)])

Lignes contenant des valeurs manquantes:
       Nom  √Çge Localisation  date de naissance
2  Youssef  NaN          F√®s             1990.0
4     Nora  NaN       Tanger                NaN

###  Interpr√©tation de la d√©tection des valeurs manquantes :
- **M√©thode `.isnull()`** d√©tecte toutes les valeurs NaN
- **`.any(axis=1)`** v√©rifie s'il y a au moins un NaN par ligne
- **2 lignes identifi√©es** : Youssef (index 2) et Nora (index 4)
- **Filtrage automatique** des lignes probl√©matiques pour analyse

In [57]:
# Remplace les valeurs manquantes par la moyenne des √¢ges avec fillna().
df["√Çge"]=df["√Çge"].fillna(df["√Çge"].mean())
print("\nDataFrame apr√®s remplacement des valeurs manquantes:")
print(df)

DataFrame apr√®s remplacement des valeurs manquantes:
       Nom        √Çge Localisation
3    Salma  30.000000   Casablanca
2  Youssef  26.666667          F√®s
4     Nora  26.666667       Tanger
1     Lina  22.000000        Rabat

###  Interpr√©tation du remplacement par la moyenne :
- **M√©thode `.fillna()`** remplace les NaN par une valeur sp√©cifi√©e
- **Calcul automatique** de la moyenne sur les valeurs non-NaN
- **Imputation r√©ussie** : 26.67 ans pour Youssef et Nora
- **Dataset complet** : plus de valeurs manquantes, pr√™t pour l'analyse
- **Strat√©gie conservatrice** : la moyenne pr√©serve la distribution

# Challenge 5 : Tri et suppression

In [54]:
#Trie les lignes par √¢ge d√©croissant avec sort_values(by='√Çge', ascending=False)
df.sort_values(by='√Çge', ascending=False, inplace=True)
print("\nDataFrame tri√© par √¢ge d√©croissant:")
print(df)

DataFrame tri√© par √¢ge d√©croissant:
       Nom        √Çge Localisation  date de naissance
3    Salma  30.000000   Casablanca             1995.0
0    Amine  28.000000   Casablanca             1997.0
2  Youssef  26.666667          F√®s             1990.0
4     Nora  26.666667       Tanger                NaN
1     Lina  22.000000        Rabat             2003.0

###  Interpr√©tation du tri par √¢ge :
- **M√©thode `.sort_values()`** trie selon une colonne sp√©cifi√©e
- **`ascending=False`** pour ordre d√©croissant (plus √¢g√© au plus jeune)
- **Index r√©organis√©s** : l'ordre original des lignes a chang√©
- **Nouveau classement** : Salma (30) ‚Üí Amine (28) ‚Üí Youssef et Nora (26.67)
- **Modification in-place** avec `inplace=True`

In [55]:
#Supprime la colonne Ann√©e de Naissance avec drop().
df.drop(columns=["date de naissance"], inplace=True)
print("\nDataFrame apr√®s suppression de la colonne 'date de naissance':")
print(df)

DataFrame apr√®s suppression de la colonne 'date de naissance':
       Nom        √Çge Localisation
3    Salma  30.000000   Casablanca
0    Amine  28.000000   Casablanca
2  Youssef  26.666667          F√®s
4     Nora  26.666667       Tanger
1     Lina  22.000000        Rabat

###  Interpr√©tation de la suppression de colonne :
- **M√©thode `.drop(columns=[])`** supprime des colonnes enti√®res
- **Suppression d√©finitive** de "date de naissance"
- **DataFrame r√©duit** : retour √† 3 colonnes (Nom, √Çge, Localisation)
- **Nettoyage des donn√©es** : √©limination d'informations redondantes
- **Optimisation m√©moire** : moins de colonnes = moins d'espace

In [56]:
#Supprime la premi√®re ligne du DataFrame avec drop(index=0).
df.drop(index=0, inplace=True)
print("\nDataFrame apr√®s suppression de la premi√®re ligne:")
print(df)

DataFrame apr√®s suppression de la premi√®re ligne:
       Nom        √Çge Localisation
3    Salma  30.000000   Casablanca
2  Youssef  26.666667          F√®s
4     Nora  26.666667       Tanger
1     Lina  22.000000        Rabat

###  Interpr√©tation de la suppression de ligne :
- **M√©thode `.drop(index=...)`** supprime des lignes sp√©cifiques
- **Attention aux index** : apr√®s tri, l'index 0 ne correspond plus √† la premi√®re ligne logique
- **Index 0 supprim√©** : c'√©tait Amine (28 ans) apr√®s le tri
- **DataFrame final** : 4 lignes restantes sur 5 initiales
- **Importance de l'ordre** : le tri influence quelle ligne est "premi√®re"

###  **R√©sum√© final :**
- **Dataset nettoy√©** : pas de valeurs manquantes
- **Structure optimis√©e** : 4 lignes √ó 3 colonnes
- **Donn√©es tri√©es** : par √¢ge d√©croissant
- **Noms uniformis√©s** : en majuscules